
*.pyc
app.log
decode_esi_multidcgm.zip
esi.zip
NRPCI_check/Auto_Check_Dup_NRPCI_Program_PA14.exe
decode_esi.zip
NRPCI_check/check_duplicated_result_20200821_164930.xlsx
NRPCI_check/check_duplicated_result_20200821_165426.xlsx
NRPCI_check/check_duplicated_result_20200821_170838.xlsx
NRPCI_check/check_duplicated_result_20200821_171530.xlsx
NRPCI_check/check_duplicated_result_20200821_171828.xlsx
NRPCI_check/check_duplicated_result_20200821_171939.xlsx
*.pyd
test_convert_gui_exe/alarm.py
test_convert_gui_exe/clock_world_perfect.py
test_convert_gui_exe/HaiViSaoLac-TruongVu_3d7e9.mp3
test_convert_gui_exe/hello_tkinter.py
test_convert_gui_exe/output/alarm.exe
test_convert_gui_exe/output/clock_world_perfect.exe
test_convert_gui_exe/output/hangman_dataflair.exe
test_convert_gui_exe/output/hello_tkinter.exe
test_convert_gui_exe/output/hello_world.exe
app.log
pyang/
